<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<clear />
		<!--<add name="BarcodeEntities" connectionString="Server=172.18.1.49;Database=Barcode;User id=tkcdba;password=tkcdba;" />-->
		<add name="BarcodeEntities" connectionString="Server=localhost;Database=Barcode;User id=sa;password=P@ssw0rd;" providerName="System.Data.SqlClient"/>
		<!--<add name="BarcodeEntities" connectionString="metadata=res://*/Barcode.csdl|res://*/Barcode.ssdl|res://*/Barcode.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=Barcode_DEV;user id=tkcdba;password=Password1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
	</connectionStrings>
	<entityFramework>
	<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

    <appSettings>
		<!-- config email -->
        <add key="SenderEmail" value="prones_g@tkoito.co.th" />
        <add key="mailTO" value="tarkulbeer@gmail.com,beerbeerlovemusic@gmail.com" />
		<add key="SmtpClient" value="172.18.1.2" />
		<add key="Port" value="25" />
		<add key="CredentialsUser" value="5000166" />
		<add key="CredentialsPass" value="cde3@wsxzaq1" />
		<!-- end config email -->
		
		<!-- config Token line -->
		<add key="TokenLine" value="sNxlH359CKfCNnUIHtJQY3zCxLifQhRBFrVk2hNVSJ4" />
		<!-- end Token line -->

		<!-- config dev api-->
		<add key="CallApiGRandTR" value="http://172.18.1.35:8000/sap/bc/srt/rfc/sap/z_goodsmvt_create1/400/z_goodsmvt_create1_srv/z_goodsmvt_create1_bnd" />
		<add key="CallApiGI" value="http://172.18.1.35:8000/sap/bc/srt/rfc/sap/z_confirm_picking_goods_issue/400/z_confirm_picking_goods_issue_sr/z_confirm_picking_goods_issue_srv" />
		<!-- end dev api -->
		
		<!-- config Production api -->
		<!--<add key="CallApiGRandTR" value="http://tkcprdci:8000/sap/bc/srt/rfc/sap/z_goodsmvt_create1/900/z_goodsmvt_create1_srv/z_goodsmvt_create1_bnd" />-->
		<!--<add key="CallApiGI" value="http://tkcprdci:8000/sap/bc/srt/rfc/sap/z_confirm_picking_goods_issue/900/z_confirm_picking_goods_issue_sr/z_confirm_picking_goods_issue_bnd" />-->
		<!-- end Production api -->
	
	</appSettings>
</configuration>